* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

:root {
    --main-color: #f8dac98c;
    --second-color: #dde0eb;
    --track-slider-color: #e9dddd;
    --map-color: #286768;
    --interface-color: #000;
}

.title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.App {
    background: linear-gradient(#b8ccea, #e9dddd,#74aced);
    height: 100vh;
}

.App__header {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.App__header-btn {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.App__header-btn_favorites {
    background: url(../img/favorites.svg);
}

.App__header-btn_playlists {
    background: url(../img/playlists.svg);
    background-color: var(--second-color);
}
.App__header-btn_return {
    background: url(../img/return.svg);
    position: fixed;
    background-color: var(--second-color);
    border-radius: 5px;
}

.favorites {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    overflow: visible auto;
    padding: 25px 40px;
    z-index: 2;
}

/* .favorites img {
    margin-bottom: 20px;
} */

.main {
    padding: 70px 0 35px 0;
}

/* ################################### PLAYLIST ###################################### */

.playlists {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    background-color: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    padding: 25px 10px 80px;
    overflow: visible auto;
    z-index: 2;
    transition: width .5s linear;
}

.playlists_tracks {
    width: 40%;
}

.playlists__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.playlist__item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: var(--second-color);
    padding: 4px;
    margin-bottom: 20px;
}

.playlist__img, 
.playlist-my__img {
    width: 100%;
}

.playlist-my__img {
    border-radius: 50%;
    margin-bottom: 7px;
}

.playlist__item-title {
    text-align: center;
    overflow-wrap: break-word;
    margin-top: auto;
}

.playlist__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: var(--second-color);
    padding: 10px;
}

.playlist__card-btns {
    display: flex;
    align-items: center;
}

.playlist__card-img, 
.playlist-my__card-img {
    width: 180px;
    margin-right: 10px;
    height: fit-content;
    align-self: center;
}

.playlist-my__card-img {
    border-radius: 50%;
}

.playlist__card-main {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.playlist__card-main .playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.playlist__btn-favorites {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.playlist__tracks {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ################################### TRACK-SLIDER ###################################### */

.track-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--track-slider-color);
    display: flex;
    padding: 10px;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.track-slider__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.track-slider__modal {
    opacity: 0;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #e75252;
    z-index: 3;
    transition: opacity .3s linear;
}

.visible {
    display: block;
    opacity: 1;
}

.track-slider__info {
    display: flex;
    align-items: center;
    margin-right: 50px;
    width: 35%;
}

.track-slider__info-cover {
    height: 100%;
    margin-right: 10px;
}

.track-slider__info-meta {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    overflow: hidden;
    color: var(--interface-color);
}

.track-slider__info-title {
    font-size: 20px;
    color: inherit;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: X;        
    max-height: X*2;     

}

.track-slider__info-auth {
    font-size: 14px;
    opacity: .7;
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.track-slider__info-btns {
    margin-left: auto;
    display: flex;
}

.track-slider__info-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.track-slider__info-btn img {
    width: 100%;
    object-fit: cover;
}

.track-slider__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.track-slider__control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.track-slider__control-play img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 20px;
}

.track-slider__control-arrow img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.track-slider__soundtrack {
    display: flex;
}

.track-slider__soundtrack-input {
    width: 420px;
    margin: 0 10px;
}

.track-slider__soundtrack-time {
    color: var(--interface-color)
}

.track-slider__volume {
    margin-left: 50px;
}

.track-slider__volume::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/volume.svg');
    transform: translate(-43px, 13px)
}

/* ################################### SEARCHBAR ###################################### */

.searchBar {
    width: 50%;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.searchBar__input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    background-color: var(--main-color);
    color: var(--interface-color);
    font-size: 20px;
    outline: none;
}

/* ################################### MAP ###################################### */

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    padding: 3px;
    font-size: 20px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map svg {
    fill: var(--map-color); 
    height: 85vh;
}

.map path {
    opacity: 1;
    outline: none;
    transition: opacity .4s ease;
}

.map path:hover {
    cursor: pointer;
    opacity: .7;
    outline: 0;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #459bfd;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #459bfd transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}