.song {
    padding: 4px;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    width: 100%;
}

.song:not(:last-child) {
    margin-bottom: 10px;
}

.song__img {
    margin: 3px 5px;
    width: 120px;
    height: 70px;
    object-fit: cover;
}

.song__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
}

.song__duration {
    margin-right: 10px;
    margin-left: auto;
}

.song__btn-favorites {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.song__name {
    font-size: 14px;
    font-weight: bold;
}

.song__control-play {
    margin-right: 8px;
    flex-shrink: 0;
}

.song_country {
    font-size: 13px;
    opacity: 0.7;
}

.playlist__card-play {
    margin: 0;
}

.playlist__card-play img {
    width: 50px;
    height: 50px;
}
