.song {
    flex: 100%;
    padding: 4px;
    background-color: var(--main-color);
    margin: 10px;
    display: flex;
    align-items: center;
}

.song-img {
    width: 120px;
}


.song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heart {
    margin-right: 0;
    margin-left: auto;
}

.song-name {
    font-size: 30px;
}